@import "tailwindcss";

@theme {
  --color-primary: #004D61;
  --color-primary-hover: #003B4B;
  --color-secondary: #00A86B;
  --color-secondary-hover: #059669;
}

body {
  background: #F8FAFC;
  color: #0F172A;
  font-family: Arial, Helvetica, sans-serif;
}
